body {
    padding: 10px;
    font-family: "Georgia", serif, sans-serif;
    font-size: 16px;
}

.row {
    background-color: steelblue;
}

h1 {
    text-align: center;
    color: blue;
}

.section {
    &.homepage {
        padding: 20px 0;
    }
}
