$footer_height: 40px;

html {
    position: relative;
    min-height: 100%;
    background: #E6E6E6;
}

body {
    background: none;
    margin-bottom: $footer_height;
    font: 12px "Verdana", serif, sans-serif;
}


h1 {
    text-align: left;
    transform: rotateZ(1deg) translateZ(0);
    will-change: transform;
    @include screen('tablet') {
        text-shadow: -2px -2px 2px #333;;
        text-align: right;
    };
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.container {
    max-width: 100%;
}

.page__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer_height;

    overflow: hidden;
    background-color: #222;
    border-color: #080808;
    color: #9D9D9D;
    padding: 10px 0;
}

.section {
    &.homepage {
        padding: 25px 0;
        perspective: 600px;
        .output div{
            min-height: 34px;
            padding: 5px;
        }
    }
}

[ui-view] {
    margin-bottom: 20px;
}

header .navbar {
    margin: 0;
    border-radius: 0;
}

// *****************
// TO-DO
// *****************

.to-do {
    .done-true {
        text-decoration: line-through;
        color: limegreen;
    }
    .done-false {
        color: #ff0043;
    }
}

// *****************
// CALCULATOR
// *****************

.calc {
    background-color: rgba(#000, 0.05);
    ul {
        font-size: 0;
        padding-top: 10px;
    }
    li {
        list-style-type: none;
        width: 100/3 * 1%;
        display: inline-block;
    }
    a {
        display: block;
        height: 28px;
        line-height: 28px;
        font-size: initial;
        text-align: center;
        cursor: pointer;
        background-color: rgba(#000, 0.05);
        border-left: 1px solid rgba(#000, 0.1);
        border-bottom: 1px solid rgba(#000, 0.1);
        &:hover {
            background-color: rgba(#000, 0.15);
            text-decoration: none;
        }
    }
    &__operators {
        li {
            width: 100/4 * 1%;
            &.full {
                width: 100%;
            }
        }
        a {
            background-color: rgba(#a90, 0.05);
        }
    }
}

// *****************
// Lesson 2
// *****************


// *****************
// Quiz
// *****************
.quiz {
    &__item {
        input {
            position: absolute;
            clip: rect(0,0,0,0);
            visibility: hidden;
        }
        label {
            &::before {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                margin-right: 5px;
                background: none;
                border: 1px solid black;
            }
        }
        input:checked + label::before {
            background-color: grey;
        }
    }
}
.results {
    button {
        margin-bottom: 15px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    li {
        margin: 0 0 15px;
        padding: 5px 10px;
        p {
            margin: 3px;
            font-size: 11px;
            line-height: 13px;
        }
    }
}

// *****************
// Lesson 3
// *****************
.lesson3 {
    .odd {
        font-size: 11px;
    }
    .even {
        font-style: italic;
    }
}

form .ng-valid.ng-dirty {
    background-color: lightgreen;
}

form .ng-invalid.ng-dirty {
    background-color: lightcoral;
}

.error {
    color: lightcoral;
}

.theme {
    padding: 15px;
    &.default {
        color: #555;
    }
    &.black {
        background-color: #555;
        color: #fff;
    }
    &.white {
        background-color: #FFF;
        color: #000;
    }
    &.color {
        background-color: lightblue;
        color: yellow;
    }
    .preview {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        margin-right: 10px;
    }
    input {
        margin-right: 5px;
        vertical-align: bottom;
    }
    label {
        vertical-align: middle;
    }
}

.registration-form {
    .status {
        padding: 7px 20px;
        font-size: 12px;
        pre {
            white-space: normal;
        }
    }
}

// *****************
// Animations
// *****************
.fade-in-out {
    transform-origin: 50% 50%;
    transition: all 0.75s ease;
    opacity: 1;
    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: 1;
        }
    }
    &.ng-leave {
        opacity: 1;
        transition-duration: 0s;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}

.fade-left {
    transform-origin: 0 100%;
    transition: all 0.7s ease;
    opacity: 1;
    &.ng-enter {
        transition-delay: 0.35s;
        opacity: 0;
        transform: translateX(50px);
        &.ng-enter-active {
            opacity: 1;
            transform: translateX(0);
        }
    }
    &.ng-leave {
        position: absolute;
        opacity: 1;
        transform: translateX(0);
        &.ng-leave-active {
            opacity: 0;
            transform: translateX(-50px);
        }
    }
}

.slide-toggle {
    transition: all 0.5s ease;
    transform-origin: 50% 0;
    height: 100%;
    overflow: hidden;
    &.ng-enter {
        height: 0;
        &.ng-enter-active {
            height: 100%;
        }
    }
    &.ng-leave {
        height: 100%;
        &.ng-leave-active {
            height: 0;
        }
    }
}